.logo{
	display:flex;
	align-items: center;
}

.map {
	display: flex;
	background: #D9D9D9;
	width:680px;
	margin-left:137px;
}

.maplayout{
	display: flex;
	flex-direction: column;
}
.field{
	width:165px;
	height:120px;
	border-radius: 12px;
	background: #FFFFFF;
	margin-left: 27px;
	margin-top: 20px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.30));
} 